@using ResumeApp.Core.Model;

<div class="col-md-4 left-co">
                    <div class="left-side">
                        <div class="profile-info">
                            <img src="@BasicInfo.image" alt="">
                            <h3>@BasicInfo.name</h3>
                            <span>@BasicInfo.label</span>
                        </div>
                        <h4 class="ltitle">Contact</h4>
                        <div class="contact-box pb0">
                            <div class="icon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="detail">
                                @BasicInfo.phone
                            </div>
                        </div>
                        <div class="contact-box pb0">
                            <div class="icon">
                                <i class="fas fa-globe-americas"></i>
                            </div>
                            <div class="detail">
                                @BasicInfo.email
                            </div>
                        </div>
                        <div class="contact-box">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="detail">
                                @BasicInfo.location.city,@BasicInfo.location.countryCode
                            </div>
                        </div>
                        <h4 class="ltitle">Contact</h4>
                        <ul class="row social-link no-margin">
                            @foreach (var profile in BasicInfo.profiles)
                            {
                                <li><a href="@profile.url"><i class="@profile.icon"></i></a></li>
                            }
                        </ul>
                        <h4 class="ltitle">Hobbies</h4>
                        <ul class="hoby row no-margin">
                            @if(BasicInfo.interests!=null){
                              foreach (var hobby in BasicInfo.interests)
                              {
                                <li><i class="fas fa-bullseye"></i><br>@hobby.name</li>
                              }
                            }
                        </ul>
                    </div>
</div>

@code{

[Parameter]
public Basics BasicInfo  {get;set;}

}