@using ResumeApp.Core.Model;

<div class="col-md-8 rt-div">
	<div class="rit-cover">
		<div class="hotkey">
			<h1 class="">@ResumeInfo.basics.name</h1>
			<small>@ResumeInfo.basics.label</small>
		</div>
		<h2 class="rit-titl">
			<i class="far fa-user"></i> Profile
		</h2>
		<div class="about">
			<p>@ResumeInfo.basics.summary</p>
		</div>
		<h2 class="rit-titl">
			<i class="fas fa-briefcase"></i> Work Experiance
		</h2>
		@foreach (var work in ResumeInfo.work)
        {
            <WorkExp WorkInfo="@work" />
        }
		
		<h2 class="rit-titl">
			<i class="fas fa-graduation-cap"></i> Education
		</h2>
		<div class="education">
			<ul class="row no-margin">
                @foreach (var ed in ResumeInfo.education)
                {
                    <li class="col-md-6">
					<Education EducationInfo="@ed" />
					</li>
                }
			</ul>
		</div>
		<h2 class="rit-titl">
			<i class="fas fa-users-cog"></i> Skills
		</h2>
        <div class="profess-cover row no-margin">
            @foreach (var skill in ResumeInfo.skills)
            {
                <div class="prog-row row">
                    <div class="col-sm-6">
                        @skill.name
                    </div>
                    <div class="col-sm-6">
                       @foreach (var keyword in skill.keywords)
                       {
                           <span class="badge badge-secondary ml-1">@keyword</span>
                       }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public Resume ResumeInfo{get;set;}


}